@model Subject

<div class="border border-1 border-dark">
    <h6>@Model.Name </h6>
    <p>Cislo: @Model.Id</p>
    <a class="btn btn-warning">Edit</a>
    <a class="btn btn-danger">Delete</a>
</div>
