@using CoreMVC.ViewModels;

@model GradesViewModel
<div>
    <h3>Update a new grade</h3>
    <form asp-action="Edit">
        <div class="form-group">
            <label asp-for="StudentId" class="control-label"></label>
            <select asp-for="StudentId" class="form-control" asp-items="ViewBag.Students"></select>
        </div>
        <div class="form-group">
            <label asp-for="SubjectId" class="control-label"></label>
            <select asp-for="SubjectId" class="form-control" asp-items="ViewBag.Subjects"></select>
        </div>
        <div class="form-group">
            <label asp-for="What"></label>
            <input asp-for="What" type="text" class="form-control" />
        </div>
        <div class="form-group">
            <label asp-for="Mark"></label>
            <input asp-for="Mark" type="number" class="form-control" />
        </div>
        <div>
            <input type="hidden" asp-for="Date" />
        </div>
        <div>
            <input class="btn btn-success" type="submit" value="Save" />
        </div>
    </form>
</div>


